body {
     padding: 0px !important;
     margin: 0px !important;
}
header {
    text-align: center;
    background-color: rgba(255, 205, 205, 0);
    colour:#fff;

}
header nav u1 a


<video controls src="NO POVERTY VIDEO.mp4" width="300" length="200"


